*{
    margin: auto 0;
    padding: auto 0;
}

#contenedor {
    height: 900px;
    width: 1200px;
    background-color: #d49e23 ;
}

#encabezado {
    height: 25%;
    background-color: #d9bd1f;
}

#menu {
    height: 5% ;
    background-color:  #713505
}

#seccion1 {
    height: 30%;
    width: 100%;
    background-color:#b01a1c ;
    border: 2px;
    border-color: #68531e;
    display: flex;
    
}

#seccion1 article {
    width: 50%;
    float: left;
    text-align: justify;
    margin-left: 1%;

}

#seccion1 ul {
    float: right;
    list-style: none;
    margin-right: 10%;
}

#seccion2 {
    height: 30%;
    width: 100%;
    background-color: #dcc43c ;
    border: 2px;
    border-color: #68531e;
    display: flex;
    
}

#seccion2 article {
    width: 50%;
    float: right;
    text-align: justify;
    margin-right: 10%;
}

#seccion2 ul {
    float: left;
    list-style: none;
    margin-right: 10%;
}

#pie {
    height: 10%;
    background-color: #744607 ;
}

ul {
    display: flex;
    
}

li {

}

img {
    height: 100px;
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
}