*{
    margin: auto 0;
    padding: auto 0;
}

#contenedor {
    height: 900px;
    width: 1200px;
    background-color: #d49e23 ;
}

#encabezado {
    height: 25%;
    background-color: #d9bd1f;
}

#menu {
    height: 5% ;
    background-color:  #713505
}

#seccion1 {
    height: 30%;
    background-color:#b01a1c ;
    border: 2px;
    border-color: #68531e;
}

#seccion2 {
    height: 30%;
    background-color: #dcc43c;
}

#pie {
    height: 10%;
    background-color: #744607 ;
}